@model IEnumerable<TARge21Shop.Models.Spaceship.SpaceshipIndexViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="h1">
    Products
</div>

<div>
    <a asp-action="add" asp-controller="spaceships" type="submit" class="btn btn-primary">Add</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope ="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Passengers</th>
                <th scope="col">EnginePower</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>1</td>
                    <td>Asd</td>
                    <td>100</td>
                    <td>Estonia</td>
                    <td>Tuulest Viidud</td>
                    <td>
                        <a asp-action="edit" asp-controller="spaceships" asp-route-id="" class="btn btn-primary">Edit</a>
                        <input asp-action="delete" asp-controller="spaceships" asp-route-id="" type="submit" class="btn btn-danger" value="Delete" />
                    </td>
                </tr>
            
        </tbody>
        <tbody>
            @foreach (var spaceship in Model)
            {
                <tr>
                    <td>1</td>
                    <td>@spaceship.Name</td>
                    <td>@spaceship.Type</td>
                    <td>@spaceship.Passengers</td>                    
                    <td>@spaceship.EnginePower</td>
                </tr>
            }
        </tbody>
    </table>
</form>